body {
  display: flex;
  gap: 20px;
  background-color: #222;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.board {
  width: 90vw;
  height: 80vh;
  background-color: #eee;
  border: 1px solid black;
  margin-bottom: 20px;
}

.cards-index {
  display: flex;
  align-items: center;
  gap: 10px;
}

.index,
.Add,
.Remaining {
  width: 9vw;
  height: 13vh;
  background-color: #eee;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(189, 189, 189, 0.5);
}

.Add {
  font-size: 32px;
}

.Card-placement {
  width: 20vw;
  height: 30vh;
  border-radius: 12px;
  color: rgb(143, 82, 82);
  font-weight: bold;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  background-color: white;
}
