.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.index {
  width: 70px;
  height: 100px;
  background-color: #eee;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.blue {
  color: blue;
}
